
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample</title>
</head>
<body>
    <div>
        Payment Failed!
    </div>

    <p>
        <a href="@Url.Action("ShoppingCart", "Cart")">Return to cart</a>
    </p>
</body>
</html>
